{% extends 'chart_test.html' %}

{% block informacion %}
           <a class="nav-link active" href="/Informacion">
              <span data-feather="home"></span>
              Informacion Dispositivo <span class="sr-only">(current)</span>
            </a>
{% endblock %}


{% block content %}
    <div id=info>
		<p>Este prototipo fue desarrollado por Ana Garzón, Camilo Fernández, Daniel Leyva, Gabriela Linares, Guillermo
			Rivero, Santiago Linares, Winston Pernett y David Alejandro Meléndez
			estudiantes del pregrado de <strong>Matemáticas Aplicadas y Ciencias de la Computación en La Universidad del
				Rosario</strong> para la materia <strong>Proyecto Cornerstone</strong>
			dictada por el profesor Mario Fernando Jiménez Hernández, durante el primer semestre del año 2021.</p>

		<p> El proyecto tiene como objetivos el desarrollo un dispositivo wearable, que recolecte, procese y muestre
			datos al
			usuario sobre su estado de salud y actividades físicas en tiempo real; Esta orientado hacia personas que
			realicen teletrabajo, y busca una estrategia tecnológica que
			contribuya a la prevención de algunos padecimientos relacionados con esta actividad.
			Para esto, se diseñó una muñequera que alberga un dispositivo creado con Arduino Lillypad y que transfiera
			datos de salud al presente aplicativo, donde el usuario puede
			visualizar los datos recopilados y recibir alertas.</p>

		<h3>Guía de Uso</h3>

		<p>Aquí insertaremos la explicación con imágenes del uso del dispositivo</p>

		<p>Para mayor información, visite nuestro repositorio en GitHub:
			https://github.com/DarkfireT09/Monitoreo-Sistema-Muscoloesqueletico </p>
	</div>

{% endblock %}